.display {
  background-color: #777;
  height: 120px;
}

.display h1 {
  text-align: right;
  padding-top: 30px;
  padding-right: 20px;
  margin-top: 0;
  overflow-x: hidden;
}

.display span {
  color: white;
}
