.calculator {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.calculator-box {
  width: 500px;
  border-collapse: collapse;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.calculator button {
  border: 1px #eee solid;
  padding: 50px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.other-buttons {
  width: 132.5px;
  background-color: #ccc;
}

.large-buttons {
  background-color: #ccc;
  width: 265px;
}

.last-buttons {
  width: 22.7px;
  background-color: orange;
}
